.menu-principal {
    position: relative;
    nav ul {
        background-color: $colorFondo;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style-type: none;
        
        li a {
            color: orangered;
            font-weight: bold;
            font-size: 18px;
            text-decoration:underline;
            display: block;
            &:hover + ul{
                max-height: 500px;
            }
        }
    }
    
    /*  
    Menu contactos desplegable
    */

    .desplegable {
        background-color: #6da6d5;
        position: absolute;
        display: flex;
        max-height: 0px;
        overflow: hidden;
        transition: 1.5s;
        color: $colorTexto;
        text-shadow: 1px 1px 1px black;
        font-weight: bold;
        font-size: 20px;

    }
}