* {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #242121f5;
    width: 100%;
}

main {
    background-color: #242121f5;
    margin: 0%;
    padding: 1%;
}


button {
    @extend %boton;
}

.carousel-item {
    img {
        width: 100%;
        padding: 10px 10px;
        height: 470px;
        object-fit: cover;
    }
    h5{
        color: white;
        text-shadow: 2px 2px 2px black;
    }
}

button:active {
    background-color: #425ba1;
}

